::selection
  color: white
  background: $secondary

::-webkit-scrollbar
  width: 6px
  height: 6px
  background-color: transparent
  border-radius: 6px

::-webkit-scrollbar-thumb
  background-color: $secondary
  border-radius: .15em