@charset "utf-8"

.section-1 
  background: red

.section-2 
  background: blue

.section-3 
  background: green

section
  height: 800px


#content
  display: flex
  flex-wrap: wrap
  justify-content: center
  

#content section 
  flex: 1 1 150px
  flex: 0 1 150px
  margin: 5px


