.toTopButton
  position: fixed
  bottom: 110px
  right: -75px
  transform-origin: center
  transform: rotate(-90deg)
  font-family: 'Bluu Next'
  font-style: italic
  font-size: 2rem
  border: none
  transition: bottom 0.15s ease-in-out, color 0.15s ease-in-out, fill 0.15s ease-in-out
  background: transparent
  cursor: crosshair
  &:hover
    bottom: calc(110px + 16px)
    color: $secondary
    fill: $secondary
    
  svg
    height: 16px
    width: 76px