@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

img,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }
  td:not([align]),
  th:not([align]) {
    text-align: inherit; }

html {
  background-color: white;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  scroll-behavior: smooth; }

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block; }

body,
button,
input,
optgroup,
select,
textarea {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace; }

body {
  color: #4a4a4a;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5; }

a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none; }
  a strong {
    color: currentColor; }
  a:hover {
    color: #363636; }

code {
  background-color: whitesmoke;
  color: #da1039;
  font-size: 0.875em;
  font-weight: normal;
  padding: 0.25em 0.5em 0.25em; }

hr {
  background-color: whitesmoke;
  border: none;
  display: block;
  height: 2px;
  margin: 1.5rem 0; }

img {
  height: auto;
  max-width: 100%; }

input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline; }

small {
  font-size: 0.875em; }

span {
  font-style: inherit;
  font-weight: inherit; }

strong {
  color: #363636;
  font-weight: 700; }

fieldset {
  border: none; }

pre {
  -webkit-overflow-scrolling: touch;
  background-color: whitesmoke;
  color: #4a4a4a;
  font-size: 0.875em;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  white-space: pre;
  word-wrap: normal; }
  pre code {
    background-color: transparent;
    color: currentColor;
    font-size: 1em;
    padding: 0; }

table td,
table th {
  vertical-align: top; }
  table td:not([align]),
  table th:not([align]) {
    text-align: inherit; }

table th {
  color: #363636; }

html {
  background-color: white;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  scroll-behavior: smooth; }

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block; }

body,
button,
input,
optgroup,
select,
textarea {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace; }

body {
  color: #4a4a4a;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5; }

a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none; }
  a strong {
    color: currentColor; }
  a:hover {
    color: #363636; }

code {
  background-color: whitesmoke;
  color: #da1039;
  font-size: 0.875em;
  font-weight: normal;
  padding: 0.25em 0.5em 0.25em; }

hr {
  background-color: whitesmoke;
  border: none;
  display: block;
  height: 2px;
  margin: 1.5rem 0; }

img {
  height: auto;
  max-width: 100%; }

input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline; }

small {
  font-size: 0.875em; }

span {
  font-style: inherit;
  font-weight: inherit; }

strong {
  color: #363636;
  font-weight: 700; }

fieldset {
  border: none; }

pre {
  -webkit-overflow-scrolling: touch;
  background-color: whitesmoke;
  color: #4a4a4a;
  font-size: 0.875em;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  white-space: pre;
  word-wrap: normal; }
  pre code {
    background-color: transparent;
    color: currentColor;
    font-size: 1em;
    padding: 0; }

table td,
table th {
  vertical-align: top; }
  table td:not([align]),
  table th:not([align]) {
    text-align: inherit; }

table th {
  color: #363636; }

@font-face {
  font-family: 'Bluu Next';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/BluuNext-Bold.woff) format("woff"); }

@font-face {
  font-family: 'Bluu Next';
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/BluuNext-Bolditalic.woff) format("woff"); }

.debug {
  border: 1px solid red; }

body,
html {
  overflow: hidden;
  height: 100%;
  scroll-behavior: smooth; }

body {
  background: url("../img/bg.svg");
  transition: background-position-y .05s ease;
  background-attachment: fixed;
  background-position-x: center; }
  @media (max-width: 911px) {
    body {
      background-size: 30px; } }
  @media (max-width: 600px) {
    body {
      background-size: 20px; } }

#content_wrapper {
  height: 100%;
  overflow: auto;
  padding-top: 110px;
  scroll-behavior: smooth; }

#content main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

section {
  margin-bottom: 3rem; }

p {
  margin-bottom: 1rem; }

h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-family: 'Bluu Next';
  font-style: italic; }

footer {
  position: fixed;
  left: 56px;
  bottom: 16px;
  padding-left: 0;
  display: flex;
  font-size: 2rem;
  font-family: 'Bluu Next';
  font-style: italic;
  transition: padding .15s ease-in-out; }
  footer:hover {
    padding-left: 16px; }

.img-cont {
  flex: 1 1 400px;
  flex: 0 1 400px;
  margin: 24px;
  position: relative;
  opacity: 0;
  transition: opacity .5s ease-in-out;
  cursor: crosshair; }
  @media (min-width: 1200px) {
    .img-cont {
      flex: 1 1 480px;
      flex: 0 1 480px; } }
  @media (orientation: portrait) and (max-width: 911px) {
    .img-cont {
      flex: 1 1 60%;
      flex: 0 1 60%; } }
  @media (orientation: portrait) and (max-width: 600px) {
    .img-cont {
      flex: 1 1 75%;
      flex: 0 1 75%; } }
  .img-cont::before {
    content: '';
    pointer-events: none;
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 75px;
    height: 75;
    z-index: 100;
    background: url("../img/plus.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity .15s ease-in-out; }
  .img-cont:hover::before {
    opacity: .85; }
  .img-cont.show {
    opacity: 1; }

.img-cont img {
  box-shadow: -2px 3px 10px 0px rgba(0, 0, 0, 0.5);
  transition: transform .15s ease-in-out; }
  .img-cont img:hover {
    transform: scale(1.05); }

.Lightbox {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: .01;
  transition: opacity .25s ease;
  z-index: 1000;
  will-change: opacity; }

.Lightbox__placeholder:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .95;
  background: url("../img/bg.svg");
  background-position: center;
  background-size: 60px; }
  @media (max-width: 911px) {
    .Lightbox__placeholder:before {
      background-size: 50px; } }
  @media (max-width: 600px) {
    .Lightbox__placeholder:before {
      background-size: 40px; } }

.Lightbox--visible {
  opacity: 1;
  cursor: crosshair; }

.Lightbox__placeholder {
  max-width: 100%;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  transition: -webkit-transform .25s ease;
  transition: transform .25s ease;
  transition: transform .25s ease, -webkit-transform .25s ease;
  z-index: 1;
  will-change: transform; }

.Lightbox__placeholder > iframe:first-child:last-child,
.Lightbox__placeholder > img:first-child:last-child,
.Lightbox__placeholder > video:first-child:last-child {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 85%;
  max-height: 85%;
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.5); }
  @media (max-width: 911px) {
    .Lightbox__placeholder > iframe:first-child:last-child,
    .Lightbox__placeholder > img:first-child:last-child,
    .Lightbox__placeholder > video:first-child:last-child {
      max-width: 95%;
      max-height: 95%; } }

.Lightbox__placeholder > iframe:first-child:last-child,
.Lightbox__placeholder > video:first-child:last-child {
  pointer-events: auto; }

.Lightbox__placeholder > img:first-child:last-child,
.Lightbox__placeholder > video:first-child:last-child {
  width: auto;
  height: auto; }

.Lightbox--iframe .Lightbox__placeholder,
.Lightbox--img .Lightbox__placeholder,
.Lightbox--video .Lightbox__placeholder {
  width: 100%;
  height: 100%;
  pointer-events: none; }

.Lightbox--visible .Lightbox__placeholder {
  -webkit-transform: scale(1);
  transform: scale(1); }

.modalWrapper {
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  opacity: 0;
  transition: all .25s ease-in-out;
  z-index: 1000;
  background: url("../img/bg.svg");
  background-position: center;
  background-size: 60px; }
  @media (max-width: 911px) {
    .modalWrapper {
      background-size: 50px; } }
  @media (max-width: 600px) {
    .modalWrapper {
      background-size: 40px; } }
  .modalWrapper .modal {
    width: 100%;
    height: 100%;
    padding: 56px; }
  .modalWrapper .close {
    position: absolute;
    top: 56px;
    right: 56px;
    font-size: 2rem;
    font-family: 'Bluu Next';
    font-style: italic;
    transition: padding .15s ease-in-out;
    cursor: crosshair; }
    .modalWrapper .close:hover {
      padding-right: 16px; }

.modalWrapper.show {
  opacity: .95; }

.aboutImprint {
  cursor: crosshair; }

.slider {
  opacity: 0;
  transition: opacity .75s ease-in-out;
  position: fixed;
  top: 28px;
  left: 0;
  right: 10px;
  width: 1000%;
  height: 64px;
  overflow: hidden;
  z-index: 1000;
  font-size: 3rem;
  font-family: 'Bluu Next';
  font-style: italic; }
  .slider li {
    list-style: none;
    display: inline-flex; }

.toTopButton {
  position: fixed;
  bottom: 96px;
  right: -42px;
  transform-origin: top center;
  transform: rotate(-90deg);
  font-family: 'Bluu Next';
  font-style: italic;
  font-size: 2rem;
  border: none;
  transition: bottom 0.15s ease-in-out;
  padding-right: 80px;
  background: transparent;
  cursor: crosshair; }
  .toTopButton:hover {
    bottom: calc(96px + 16px); }
  .toTopButton::after {
    content: '';
    position: absolute;
    right: 0px;
    top: 16px;
    width: 67px;
    height: 16px;
    background: url("../img/arrow.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }
